#spFriendsPage .sp-friends-state {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.sp-friends-state i {
    color: #4683ea;
    font-size: 40px;
    margin-top: 20px;
}

#spFriendsPage .sp-friends-state p {
    font-size: 12px;
    color: grey;
}