#spFriendsPage .sp-friends-not-found {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#spFriendsPage .sp-friends-not-found p {
    font-size: 12px;
    color: grey;
}