.media-list .media {
    cursor: pointer;
    height: 80px;
    box-shadow: inset 0 -1px 0 0 rgb(231, 231, 231);
}

.media-list .media-heading {
    margin: 0;
    color: #4387fd;
    font-weight: bold;
}

.media, .media .media {
    margin: 0;
}

.media-list .media i {
    font-size: 3em;
    color: grey;
}

.media-list .media:focus,
.media-list .media:hover,
.media-list .media:active,
.media-list .media.active {
    background-color: rgb(238, 238, 238);
}

.media-list .media:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.media-list .media .media-left {
    padding: 5px 15px 5px 15px;
    display: inline-block;
    vertical-align: middle;
}

.media-list .media-body {
    display: inline-block;
    vertical-align: middle;
}

.media-list .media-body p {
    margin: 0;
}

.sp-properties-header {
    border-bottom: 1px solid silver;
    background: white;
    height: 60px;
    padding: 10px;
    width: 100%;
    z-index: 1;
}

@media (max-width: 768px) {
    .sp-properties-header {
        position: fixed;
        text-align: center;
        top: 0;
    }
}

.sp-properties-header:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.sp-properties-header span {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.sp-properties-header .sp-done {
    position: absolute;
    top: 19px;
    right: 10px;
    text-decoration: none;
    color: #4387fd;
    font-weight: bold;
}

#spPropertiesView {
    height: 100%;
}

#spPropertiesView .sp-properties {
    padding: 0;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(238, 238, 238);
    height: 100%;
}

.sp-properties .sp-properties-content {
    overflow: auto;
    height: calc(100% - 60px);
}

.sp-properties-content .container-fluid {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .sp-properties .sp-properties-content {
        height: 100%;
    }
}

@media (min-width: 768px) {
    #spPropertiesView .row.ng-hide {
        display: block !important;
    }
}

.sp-without-padding {
	padding: 0 !important;
}

#spNavPills {
    padding: 10px;
}

.sp-property-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    border-top: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
}

    @media (max-width: 768px) {

        #spPropertiesView .sp-profile {
            height: 100%;
        }

        #spPropertiesView .sp-properties {
            padding: 0;
            left: 0;
            position: fixed;
            right: 0;
            bottom: 0;
            top: 0;
            padding-top: 60px;
        }

        #spPropertiesView {
            width: 100%;
            position: relative;
        }

        .sp-property-container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

.sp-property-container .sp-property-header {
	margin-left: 0;
	margin-right: 0;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .sp-property-container .sp-property-header {
        margin: 10px;
    }
}

.sp-property-container .slider.slider-horizontal {
	width: 100%;
}

.sp-save-btn {
	margin-top: 10px;
    text-align: center;
}

.sp-save-btn .btn {
    font-size: 24px;
}

.sp-destroy-account {
    font-size: 24px;
    text-align: center;
    color: red;
    cursor: pointer;
}

@media (max-width: 768px) {
    #spPropertiesView .sp-delete-account {
        border-radius: 0;
        height: 60px;
        left: 0;
        font-size: 24px;
        padding: 10px 0;
    }
}

.sp-slider {
    padding-left: 20px;
    padding-right: 20px;
}

.sp-property-control {
    text-align: center;
}

.sp-sex-radio-buttons .btn {
    border: 1px solid #4387fd;
    padding: 6px 12px;
    width: 80px;
}

.sp-sex-radio-buttons .btn:active, .sp-sex-radio-buttons .btn.active {
    background-color: #4387fd;
    color: white;
}

.sp-sex-radio-buttons input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    margin: -6px -12px;
}

#spPropertiesView .col-xs-12 {
    padding: 0;
}

/* profile */
#spPropertiesView .sp-profile {
    padding: 0;
}

#spPropertiesView .sp-profile .sp-property-header {
    padding-left: 10px;
    padding-right: 10px;
}

#spPropertiesView .sp-profile-title {
    position: relative;
    color: white;
    text-align: center;
    cursor: pointer;
}

#spPropertiesView .sp-profile .sp-property-container {
    padding-left: 0;
    padding-right: 0;
}

#spPropertiesView .sp-profile-title img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid white;
}

#spPropertiesView .sp-user-description {
    padding-bottom: 10px;
}

#spPropertiesView .sp-profile-background {
    position: absolute;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.sp-version {
    margin-top: 20px;
    text-align: center;
}

.sp-version i {
    color: #4387fd;
    font-size: 2.5em;
}