#spLoginView .sp-intro {
	margin-bottom: 30px;
	padding: 5px;
}

@media (max-width: 768px) {
	#spLoginView .sp-intro {
		text-align: center;
	}

	#spLoginView .sp-login-btn {
		margin-top: 50px; 
	}
}

#spLoginView .sp-get-app {
	margin-top: 60px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 280px;
}

#spLoginView .sp-get-app-android {
	position: absolute;
	left: 0px;
}

#spLoginView .sp-get-app-ios {
	position: absolute;
	right: 0px;
	top: 2.5px;
}

#spLoginView h4 {
	color: #5f5f5f;
	font-size: 40px;
	line-height: 48px;
	margin-top: 40px;
	margin-bottom: 18px;
	font-weight: 500;
}

#spLoginView p {
	font-size: 18px;
	color: #5f5f5f;
	line-height: 30px;
	margin: 0px;
}

#spLoginView .sp-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 178px;
	height: 59px;
}


