@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://weloveiconfonts.com/api/?family=brandico);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

[class*="brandico-"]:before {
  font-family: 'Brandico', sans-serif;
}

html {
    height: 100%;
}

body {
    font: 16px "Open Sans" !important;
    height: 100%;
}

.view {
    padding-top: 60px;
}

#spMapView {
    position: relative;
}

.container {
    max-width: 750px;
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container .row {
    margin-left: 0px;
    margin-right: 0px;
}

#carousel-example-generic {
    min-height: 300px;
}

.carousel-inner {
    top: 0;
    background-color: black;
}

#people .carousel-control {
    background-image: none;
    width: 50%;
}

#people .carousel-controls {
    opacity: 0;
}

#people .carousel-controls:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .carousel-inner {
        top: 0px;
    }
}

.row h2 {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.carousel > .carousel-inner > .item > img {
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
}

/*@media (max-width: 768px) {
    .carousel > .carousel-inner > .item > img {
        width: 100%;
        height: auto;
    }
}*/

/*
.carousel {
  width: 100%;
  height: 400px !important;
  background-color: white;
}
*/
/*
.carousel-control span {
    color: blue;
}
*/

ol.carousel-indicators .active {
    background-color: blue;
}

ol.carousel-indicators li {
    border-color: black;
} 

.fill-height {
    height: 100%;
}

#spFavorite span{
    left: 50%;
    font-size: 50px;
    opacity: 0.55;
}

#spFavorite:hover span{
    opacity: 0.85;
}

#spClose span{
    left: 50%;
    font-size: 50px;
    opacity: 0.55;
}

#spClose:hover span{
    opacity: 0.85;
}


#people, .person {
  width: 500px;
  height: 500px;
}

#people {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}

.person {
  position: absolute;
  background-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all .1s linear;
}

.person:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}

.person img {
  /*max-width: 105%;*/
  max-height: 105%;
  background: white;
}

.person .sp-description {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  padding: 10px;
  font: 16px "Open Sans";
  line-height: 30px;
  color: #555;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.person .fontawesome-map-marker {
  margin-right: 10px;
}

.person .fontawesome-chevron-right, .person .fontawesome-chevron-left {
  top: 50%;
  background: transparent;
  border: 0;
  padding: 10px;
  font-size: 25px;
  color: white;
  position: absolute;
}

.person .fontawesome-chevron-right {
    right: 0;
}

.person .fontawesome-chevron-left {
    left: 0;
}

.person span strong {
  font-weight: 600;
  color: #000;
}

#control {
  position: relative;
  margin: 15px auto 0;
  width: 500px;
}
#control .button {
  width: 65px;
  height: 65px;
  background: #eee;
  position: absolute;
  top: 5px;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#control .button .trigger {
  background: white;
  display: block;
  border-radius: 50%;
  width: 75%;
  height: 75%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: all .1s;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#control .button .trigger:active {
  transform: translateY(-50%) scale(0.75);
  transition: all .05s linear;
}
#control .button .trigger:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-family: 'FontAwesome';
}
#control .no {
  left: 38px;
}
#control .no .trigger:before {
  content: "\f00d";
  font-size: 28px;
  color: #c33;
}
#control .yes {
  right: 38px;
}
#control .yes .trigger:before {
  content: "\f004";
  font-size: 22px;
  color: #3b7;
}
#control .info {
  left: calc(50% - 23px);
  top: 17px;
  height: 46px;
  width: 46px;
}
#control .info .trigger {
  width: 65%;
  height: 65%;
}
#control .info .trigger:before {
  content: "\f05a";
  font-size: 16px;
  color: #3498db;
}

#spMainView .row{
    height: 100%;
}

#spMainView .col-xs-12{
    height: 100%;
}

#spRadar img {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;    
    border-radius: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    cursor: pointer;
    overflow: hidden;
}

#spRadar .circle {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border: 4px solid #4387fd;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;    
    border-radius: 500px;
    background: #4683ea;
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
}

#spRadar .status {
  margin-top: 70%;
  display: block;
  text-align: center;
}

#spShareButton * {
  box-sizing: initial;
}

#spShareButton {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 123px;
}
