@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    html {
        -webkit-text-size-adjust: 100%;
    }
}

html, body, .sp-main-content {
    font: 16px "Open Sans";
    height: 100%;
    overflow-y: hidden;
}

.sp-main-content {
    width: 768px;
}

@media (max-width: 767px) {
    .sp-main-content {
        width: 100%;
    }
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

p {
    color: grey;
    opacity: 0.9;
    font-size: 12px;
}

.view {
    padding-top: 60px;
}

@media (max-width: 767px) {
    .view #spFriendsPage {
        padding-top: 60px;
        position: relative;
    }
}

#spMapView {
    position: relative;
}

.container {
    height: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}

.fill-height {
    height: 100%;
}

#spFavorite span {
    left: 50%;
    font-size: 50px;
    opacity: 0.55;
}

#spFavorite:hover span {
    opacity: 0.85;
}

#spClose span {
    left: 50%;
    font-size: 50px;
    opacity: 0.55;
}

#spClose:hover span {
    opacity: 0.85;
}

textarea {
    resize: none;
    outline: none;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}