html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 60px;
}

.fill-height {
    height: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.no-corners {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
