#map-canvas {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.sp-user-marker, .sp-user-marker-selected {
    font-size: 30px;
    opacity: 1;
}

.sp-user-marker {
    text-shadow: 1px 1px 2px black;
}

.sp-map-tooltip-img {
    float: left;
}

.sp-user-marker-selected {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sp-map-tooltip-content {
    width: 250px;
    height: 100px;
}

.sp-map-tooltip-info {
    float: left;
    padding-left: 5px;
}

.sp-locator-marker {
    font-size: 40px;
    opacity: 1;
    text-shadow: 1px 1px 2px black;
}

.map-icon-location {
    padding: 6px;
}

#map-canvas a:hover {
    text-decoration: none;
}

.map-marker-icon {
    background: #b0dcff;
    border: 5px solid rgba(255,255,255,0.5);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.map-marker-icon img {
    border-radius: 50%;
    transform: rotate(360deg);
}

.leaflet-container {
    font-family: Roboto, "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.leaflet-popup-content-wrapper {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.leaflet-popup-content {
    padding: 0;
}

.leaflet-popup-tip-container {
    opacity: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #fff;
    -moz-box-shadow: #888 0 1px 10px 0;
    -webkit-box-shadow: #888 0 1px 10px 0;
    box-shadow: #888 0 1px 10px 0;
    padding: 0;
}

.sp-map-tooltip .sp-map-tooltip-carat {
    background: url('../img/tooltip-carat.png') 0 -7px no-repeat;
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    bottom: -7px;
    width: 13px;
}

.sp-map-tooltip {
    background: #fff;
    border: 2px solid #2d5be3;
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
    position: relative;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
