ul.navbar-nav, ul.navbar-nav li {
	float: left !important;
}

ul.navbar-right {
	margin-right: 0px !important;
}

ul.navbar-right, ul.navbar-right li {
	float: right !important;
}

#spNavbar {
	position: relative;
	display: block;
}

.navbar {
	height: 60px;
	width: 100%;
}

#spNavbar .navbar-default {
	border-radius: 0%;
	border-top: 0px;
}

#spNavbar div.container-fluid {
	padding: 0px;
	height: 60px;
	width: 100%;
	position: absolute;
}


#spNavbar .navbar-brand {
	height: 58px;	
	padding-bottom: 13px;
	padding-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	cursor: pointer;
}

#spNavbar .sp-nav-button {
	height: 58px;
	line-height: 58px;
	text-align: center;
	padding: 5px 10px 0px 10px;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

#spNavbar .sp-active {
	border-bottom: 2px solid;
	border-color: #4387fd;
}

#spNavbar a {
	padding: 0px;
}

#spNavbar li:hover {
	border-bottom: 2px solid;
	border-color: #4387fd;
}



/*#spNavbar .navbar-user-icon {
	height: 58px;
	padding-bottom: 8px;
	padding-top: 8px;
	margin-left: 0px;
	margin-right: 0px;
	cursor: pointer;
}*/


