.sp-property-container {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media (max-width: 768px) {
	
	#spPropertiesView {
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.sp-property-container {
		width: 100%;
	}

	.sp-property-container textarea {
		border-left: 0px;
		border-right: 0px;
		border-radius: 0;
		margin-left: -10%;
		margin-right: -10%;
		position: relative;
		width: 120%;	
	}
}

.sp-property-container .sp-property-header {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.sp-property-container .slider.slider-horizontal {
	width: 100%;
}

.sp-save-btn {
	margin-top: 30px;
}