.splash {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

[ng-cloak].splash {
    display: table !important;
}

    .splash h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 6em;
        color: white;
    }
