#spUserList .btn-group.btn-group-lg.btn-group-justified label{
    border-radius: 0px;
}

#spUserList .btn-group.btn-group-lg.btn-group-justified {
    margin: 0;
}

#spUserList .list-group-item {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-right: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#spUserList .sp-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
/*    border: solid 1px;
*/
    padding: 15px;
/*    height: 200px;
*/
}

#spUserList .spListGroupSeparator {
    margin-top: 0px;
    margin-bottom: 0px;
}



#spUserList .sp-list-item-photo
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#spUserList .sp-list-item-photo-container:hover,
#spUserList .sp-list-item-photo-container:active,
#spUserList .sp-list-item-photo-container:focus
{
    border-color: #428bca;
}

#spUserList .sp-list-item-photo-container
{
    display: block;
    margin: 0px;
    padding: 6px;
    
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;

    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#spUserList .sp-list-item-info
{
    display: inline-block;
    overflow: hidden;

    margin: 0px;
    width: 250px;
    padding-left: 15px;
    padding-top: 0px;
    vertical-align: top;
}

#spUserList .sp-list-item-buttons
{
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 110px;
    position: absolute;
    top: 15px;
    right: 30px;
    margin: 0px;
    vertical-align: top;
}

#spUserList .user-list-distance {
    float: right;
    margin-top: 65px;
    padding-right: 10px;
}

#spUserList a {
    display: block;
    cursor: pointer;
}

#spUserList .spTimestamp {
    position: absolute;
    top: 3px;
    margin: 0;
    display: block;
    clear: both;
    width: 70px;
    height: 20px;
    padding: 2px;
}

#spUserList .spFavorite {
    position: absolute;
    top: 40px;
    left: 15px;
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    padding: 2px;
    opacity: 0.55;
}

#spUserList .spFavorite:hover {
    opacity: 0.85;
}

#spUserList .spClose {
    position: absolute;
    top: 80px;
    left: 15px;
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    padding: 2px;
    opacity: 0.55;
}

#spUserList .spClose:hover {
    opacity: 0.85;
}

#spUserList a {
    display: block;
    cursor: pointer;
}

/*#spUserList .user-list-info {
    float: left;
    padding-left: 10px;
    width: auto;
}*/

/*#spUserList .user-list-item-img {
    float: left;
}

#spUserList .user-list-item-img .glyphicon {
    display: block;
    position: absolute;
    top: 75px;
    left: 10px;
    color: white;
    opacity: 0.6;
}

#spUserList .user-list-item-img img {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin: -1px;
}

#spUserList .list-group-item .btn-group {
    position: absolute;
    top: 10px;
    right: 10px;
}

#spUserList .btn-group .glyphicon {
    position: static;
    color: white;
}

.animate-hide.ng-hide {
    opacity: 0;
}

.animate-hide {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}*/
