@media (max-width: 768px) {
    #spNavPills {
        position: absolute;
        padding: 10px;
    }

    #spNavPills ul > li {
        display: table-cell;
        width: 1%;
    }

    #spRowContainer {
        position: relative;
    }

    #spFriendsList {
        z-index: 0;
    }

    #spFriendsList.sp-active{
        z-index: 10000;
    }
}

#spFriendsList {
    max-height: 100%;
    overflow-y: scroll;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}

#spFriendsList .list-group-item
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-width: 0px;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0%;   
    cursor: pointer; 
}

/*#spFriendsList .list-group-item:hover .brandico-vkontakte-rect,*/
#spFriendsList .active .brandico-vkontakte-rect {
    display: inline;
}

#spFriendsList .active
{
    background-color: rgb(238, 238, 238);
    color: black;
}

#spFriendsList .media {
    margin: 0px;
}

#spFriendsList .brandico-vkontakte-rect {
    margin-right: 10px;
    color: #4387fd;
    font-size: 30px;
    display: none;
}

#spFriendsList .media-body {
    vertical-align: middle;
    line-height: 60px;
    border-bottom: 1px solid;
    border-color: rgb(238, 238, 238);
}

#spFriendsList .media-object {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px;         
}

#spUserList .btn-group.btn-group-lg.btn-group-justified label{
    border-radius: 0px;
}

#spUserList .btn-group.btn-group-lg.btn-group-justified {
    margin: 0;
}

#spUserList .list-group-item {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-right: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#spUserList .sp-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
/*    border: solid 1px;
*/
    padding: 15px;
/*    height: 200px;
*/
}

#spUserList .spListGroupSeparator {
    margin-top: 0px;
    margin-bottom: 0px;
}



#spUserList .sp-list-item-photo
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#spUserList .sp-list-item-photo-container:hover,
#spUserList .sp-list-item-photo-container:active,
#spUserList .sp-list-item-photo-container:focus
{
    border-color: #428bca;
}

#spUserList .sp-list-item-photo-container
{
    display: block;
    margin: 0px;
    padding: 6px;
    
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;

    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#spUserList .sp-list-item-info
{
    display: inline-block;
    overflow: hidden;

    margin: 0px;
    width: 250px;
    padding-left: 15px;
    padding-top: 0px;
    vertical-align: top;
}

#spUserList .sp-list-item-buttons
{
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 110px;
    position: absolute;
    top: 15px;
    right: 30px;
    margin: 0px;
    vertical-align: top;
}

#spUserList .user-list-distance {
    float: right;
    margin-top: 65px;
    padding-right: 10px;
}

#spUserList a {
    display: block;
    cursor: pointer;
}

#spUserList .spTimestamp {
    position: absolute;
    top: 3px;
    margin: 0;
    display: block;
    clear: both;
    width: 70px;
    height: 20px;
    padding: 2px;
}

#spUserList .spFavorite {
    position: absolute;
    top: 40px;
    left: 15px;
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    padding: 2px;
    opacity: 0.55;
}

#spUserList .spFavorite:hover {
    opacity: 0.85;
}

#spUserList .spClose {
    position: absolute;
    top: 80px;
    left: 15px;
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    padding: 2px;
    opacity: 0.55;
}

#spUserList .spClose:hover {
    opacity: 0.85;
}

#spUserList a {
    display: block;
    cursor: pointer;
}

