<!DOCTYPE html>
<html>
    <head>
        <title><%= project %></title>
    </head>
    <body>
        <%= error.status %></br>
        <%= error.message %></br>
        <%= error.stack %>
    </body>
</html>