<!DOCTYPE html>
<html>
    <head>
        <title>Spacebox</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./public/css/thirdparty/jquery.feedback_me.rtl.css">
        <link rel="stylesheet" href="./public/css/thirdparty/jquery.feedback_me.css">
        <link rel="stylesheet" href="./public/css/thirdparty/menu.css">
        <link rel="stylesheet" href="./public/css/styles.css">
        <link rel="stylesheet" href="./public/css/wildcard.css">
        <link rel="alternate" href="./public/wildcard.ejs">
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
        <script src="./public/js/thirdparty/yepnope.1.5.4-min.js"></script>
        <script>
            var bootOptions = {
                module: 'index',
                vkApiID: <%= vkApiID %>
            }
        </script>
        <script src="./public/js/boot.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="map-canvas">
            </div>
            <div id="right-panel">
                <div class="lavalamp cyan" >
                    <ul>
                        <li class="active"><a href="#" id="search">Поиск</a></li>
                        <li><a href="#" id="vk-logout">Выйти</a></li>
                    </ul>
                        <div class="float"></div>
                </div>
                <div id="list-users"></div>
            </div>
        </div>
    </body>
</html>