html, body {
    font-family: Georgia;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,.50);
    color: #262626;
    height: 100%;
    width: 100%;
    margin: 0;
}

#wrapper {
    height: 100%;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

#map-canvas {
    width: 70%;
    height: 100%;
    float: left;
}

#right-panel {
    width: 30%;
    height: 100%;
    float: right;
}

#list-users {
    position: absolute;
    left: 70%;
    top: 10%;
    height: 90%;
    width: 30%;
    overflow-y: auto;
}

menu {
    margin: 4px;
    padding: 4px;
}

    menu li {
        display: inline;
        margin-right: 15px;
        padding: 3px;
    }
