.wildcard {
    padding: 5px 10px 5px 7px;
    border-bottom: 1px solid #e4e8ed;
}

    /*.wildcard:hover {*/
        /*background: #edf1f5;*/
        /*border-color: #DAE1E8;*/
    /*}*/

.wildcard_table {
    border-spacing: 0;
    width: 100%;
}

.wildcard_photo {
    width: 50px;
    padding: 5px 5px 2px;
    vertical-align: top;
}

    .wildcard_photo img {
        border-radius: 50%;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }

.wildcard_info {
    padding: 5px;
    vertical-align: middle;
    width: 125px;
}

.wildcard_name {
    color: #aaa;
    padding: 3px 0 2px;
}

.wildcard_vk_link {
    color: #2B587A;
    text-decoration: none;
    cursor: pointer;
}
