<div class="container fluid" id="errorPage">
    <div class="text-center" ng-if="geolocation && error">
        <h1>Упс, что-то пошло не так...</h1>
        <p>{{error}}</p>
    </div>
    <div class="sp-geolocation-text text-center" ng-if="!geolocation">
        <span class="entypo-globe"></span>
        <h1><strong>Где ты?</strong></h1>
        <p>Чтобы находить новых пользователей,<br>Finder должен знать ваше местоположение.</p>
        <p>Перейдите в настройки и включите геолокацию.</p>
    </div>
</div>