<div id="spNavPills" class="visible-xs-block">
	<ul class="nav nav-pills nav-justified">
	 	<li ng-class="{'active': friends.list}"><a href="" ng-click="friends.toggle(true)">Друзья</a></li>
	  	<li ng-class="{'active': !friends.list}"><a href="" ng-click="friends.toggle(false)">Карта</a></li>
	</ul>
</div>
<div id="spFriendsPage" class="container fill-height">
    <div id="spRowContainer" class="row fill-height">
        <div id="spFriendsList" class="col-xs-12 col-sm-5 fill-height"
             ng-class="{'sp-active': friends.list}" ng-switch on="friends.state">
            <div ng-switch-when="ready">
                <sp-friend-list
                        users="friends.friends"
                        selected="friends.current"
                        on-marker-click="friends.openMap"
                        on-chat="friends.openChat()">
                </sp-friend-list>
            </div>
            <div class="sp-friends-state" ng-switch-when="empty">
                <h4>У вас пока что нет друзей</h4>
                <p>Просматривай больше людей, чтобы находить друзей</p>
                <a href="" class="btn btn-primary" ng-click="friends.find()" role="button">Найти новых друзей</a>
            </div>
            <div class="sp-friends-state" ng-switch-when="loading">
                <h4>Получаем список друзей...</h4>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>
        <div id="spMapContainer" class="col-xs-12 col-sm-7 fill-height" ng-class="{'sp-active': !friends.list}">
            <div id="spChat" ng-if="friends.isChatOpen">
                <div class="sp-back-header">
                    <a href="" class="sp-back-button" ng-click="friends.closeChat()"><i class="fa fa-arrow-left"></i></a>
                    <img class="img-circle" ng-src="{{friends.current.info.photo_50}}">
                    <p>{{friends.current.info.first_name}}</p>
                </div>
                <sp-chat user="friends.current"></sp-chat>
            </div>
            <div id="map-canvas"></div>
        </div>
    </div>
</div>