<sp-tabs id="spNavPills" class="visible-xs-block" active="friends.tab"></sp-tabs>
<div id="spFriendsPage" class="container fill-height">
    <div id="spRowContainer" class="row fill-height">
        <div id="spFriendsList" class="col-xs-12 col-sm-5 fill-height"
             ng-class="{'sp-active': friends.tab == 'friends'}" ng-switch on="friends.state">
            <div ng-switch-when="ready">
                <sp-friend-list
                        users="friends.friends"
                        selected="friends.current"
                        on-marker-click="friends.openMap"
                        on-chat="friends.openChat()">
                </sp-friend-list>
            </div>
            <div class="sp-friends-state" ng-switch-when="empty">
                <h4>У вас пока что нет друзей</h4>
                <p>Просматривай больше людей, чтобы находить друзей</p>
                <a href="" class="btn btn-primary" ng-click="friends.find()" role="button">Найти новых друзей</a>
            </div>
            <div class="sp-friends-state" ng-switch-when="loading">
                <h4>Получаем список друзей...</h4>
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>
        <div id="spMapContainer" class="col-xs-12 col-sm-7 fill-height" ng-class="{'sp-active': friends.tab == 'map'}">
            <div id="spChat" ng-if="friends.isChatOpen">
                <sp-chat user="friends.current" on-close="friends.closeChat()"></sp-chat>
            </div>
            <sp-map users="friends.friends" selected="friends.current"></sp-map>
        </div>
    </div>
</div>