<div id="spLoginView">
    <div class="row">
        <div class="sp-intro col-sm-6">
            <h1 class="sp-logo">
                <span>Finder</span>
            </h1>
            <h2 class="hidden-xs">Сервис быстрых знакомств</h2>
            <p class="hidden-xs">Finder - это новый способ знакомства с интересными людьми рядом. Регистрируйся за один клик через ВКонтакте. Жми лайк если нравится, дизлайк чтобы пропустить. При взаимной симпатии вы сможете обменяться контактами! Наблюдай за расположением друзей на карте.</p>
            <div class="sp-intro-get-app clearfix hidden-xs">
                <a href="" class="sp-get-app-android"></a>
                <a href="" class="sp-get-app-ios"></a>
            </div>
            <div class="sp-login-btn">
                <a href="" class="btn btn-lg btn-primary" ng-click="Login()">Войти c ВКонтакте</a>
            </div>
        </div>
        <div class="sp-login-carousel col-sm-6">
            <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-auto-slide rn-carousel-buffered class="sp-carousel-image">
                <li ng-repeat="image in images track by $index">
                    <div class="sp-carousel-layer" ng-style="{'background-image': 'url(' + '{{image}}' + ')'}"></div>
                </li>
            </ul>
            <div class="rn-carousel-indicator custom-indicator">
                <span ng-repeat="image in images track by $index"
                      ng-class="{active: $index==$parent.carouselIndex}"
                      ng-click="$parent.carouselIndex = $index">
                </span>
            </div>
        </div>        
    </div>
</div>