<div id="spLoginView">
    <img class="sp-logo" ng-src="src/img/logo.png">
    <div class="sp-intro">
        <h4>Сервис быстрых знакомств.</h4>
        <p class="hidden-xs">Finder - это новый способ знакомства с интересными людьми рядом. Регистрируйся за один клик через ВКонтакте. Жми лайк если нравится, дизлайк чтобы пропустить. При взаимной симпатии вы сможете обменяться контактами! Наблюдай за расположением друзей на карте.</p>
    </div>
    <div class="text-center sp-login-btn">
    	<a href="" class="btn btn-lg btn-primary" ng-click="Login()" role="button">Войти ВКонтакте</a>
    </div>
    <div class="sp-get-app hidden-xs">
		<a href="" class="sp-get-app-android">
		  	<img alt="Get it on Google Play"
		       src="https://developer.android.com/images/brand/ru_generic_rgb_wo_45.png" />
		</a>
		<a href="" class="sp-get-app-ios">
			<img style="display:block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/ru_ru//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/ru_ru//images/web/linkmaker/badge_appstore-lrg.svg);}"/>
		</a>
	</div>
</div>