<div id="spLoginView">
    <div class="row fill-height">
        <div class="sp-intro col-sm-6">
            <h1 class="sp-logo hidden-xs">
                <span>Finder</span>
            </h1>
            <h2 class="hidden-xs">Сервис быстрых знакомств</h2>
            <p class="hidden-xs">Finder - это новый способ знакомства с новыми и интересными людьми вокруг тебя.
                Теперь знакомства по-настоящему быстры: твоя анкета автоматическм заполняется информацией из ВКонтакте,
                оцененные тобой пользователи больше никогда не появятся в поиске,
                в любой момент можно узнать, кто из твоих друзей рядом и, возможно, готов встретиться с тобой.
                Регистрируйся и начинай знакомиться!</p>
            <div class="sp-intro-get-app clearfix hidden-xs" ng-hide="app.isMobile">
                <a href="" class="sp-get-app-android"></a>
                <a href="" class="sp-get-app-ios"></a>
            </div>
            <div id="vkLike" class="hidden-xs"></div>
            <div class="sp-login-btn">
                <a href="" class="btn btn-lg btn-primary" ng-click="Login()">
                    <span>Войти</span><i class="fa fa-vk"></i>
                </a>
                <span class="visible-xs-block">
                    <i class="fa fa-info-circle"></i>Ничего не будет опубликовано на ВКонтакте
                </span>
            </div>
        </div>
        <div class="sp-login-carousel col-sm-6">
            <ul rn-carousel rn-carousel-auto-slide rn-carousel-duration="600" rn-carousel-controls rn-carousel-index="carouselIndex" rn-carousel-buffered class="sp-carousel-image">
                <li ng-repeat="image in images track by $index">
                    <h5>{{image.text}}</h5>
                    <div class="sp-phone">
                        <div class="sp-phone-wrapper">
                            <div class="sp-phone-photo" ng-style="{'background-image': 'url(' + '{{image.url}}' + ')'}"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="rn-carousel-indicator custom-indicator">
                <span ng-repeat="image in images track by $index"
                      ng-class="{active: $index==$parent.carouselIndex}"
                      ng-click="$parent.carouselIndex = $index">
                </span>
            </div>
        </div>
    </div>
</div>