#map-canvas .leaflet-control-locate a {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

@media (max-width: 767px) {
    #map-canvas .leaflet-control-locate a {
        text-align: center;
        font-size: 32px;
        line-height: 50px;
        height: 50px;
        width: 50px;
    }

    #map-canvas .leaflet-control-zoom {
        display: none;
    }
}

.leaflet-div-icon {
    background: none;
    border: none;
}

.leaflet-container {
    font-family: Roboto, "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.leaflet-popup-content-wrapper {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.leaflet-popup-content {
    padding: 0;
}

.leaflet-popup-tip-container {
    opacity: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #fff;
    -moz-box-shadow: #888 0 1px 10px 0;
    -webkit-box-shadow: #888 0 1px 10px 0;
    box-shadow: #888 0 1px 10px 0;
    padding: 0;
}

.leaflet-marker-icon {
    text-align: center;
}

.leaflet-container p {
    color: grey;
    opacity: 0.9;
    font-size: 12px;
}