#spMapContainer {
    padding: 0;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

@media (max-width: 768px) {
    #spMapContainer {
        position: absolute;
        border-left: none;
        border-right: none;
    }

    #spMapContainer.sp-active {
        z-index: 1000;
    }
}

#map-canvas {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.sp-locate-control {
    padding: 6px;
}

#map-canvas .fa.fa-map-marker {
    font-size: 30px;
    line-height: 30px;
    opacity: 1;
}

#map-canvas .fa.fa-map-marker.user {
    color: #4387fd;
}

#map-canvas .fa.fa-map-marker.selected {
    color: #4387fd;
    font-size: 40px;
    line-height: 40px;
    z-index: 250;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#map-canvas .locator {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #4387fd;
    border: 3px solid white;
}

.sp-user-marker {
    text-shadow: 1px 1px 2px black;
}

.sp-user-marker-selected {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sp-map-tooltip-content {
    width: 250px;
    height: 100px;
}

.sp-map-tooltip-content img {
    float: left;
    margin-right: 10px;
}

.sp-map-tooltip-content h4 {
    font-weight: bold;
}

.sp-map-tooltip-content a {
    font-size: 40px;
    line-height: 40px;
}

.sp-map-tooltip-info {
    text-align: left;
}

.sp-map-tooltip-status {
    margin-top: 5px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid silver;
    font-style: italic;
}

.sp-map-tooltip-status p {
    margin: 0;
}

.sp-locator-marker {
    font-size: 40px;
    opacity: 1;
    text-shadow: 1px 1px 2px black;
}

.map-icon-location {
    padding: 6px;
}

#map-canvas a:hover {
    text-decoration: none;
}

.map-marker-icon {
    background: #b0dcff;
    border: 5px solid rgba(255,255,255,0.5);
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.map-marker-icon img {
    border-radius: 50%;
    transform: rotate(360deg);
}

.sp-map-tooltip .sp-map-tooltip-carat {
    background: url('../../img/tooltip-carat.png') 0 -7px no-repeat;
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    bottom: -7px;
    width: 13px;
}

.sp-map-tooltip {
    background: #fff;
    border: 2px solid #2d5be3;
    font-size: 13px;
    line-height: 16px;
    padding: 10px;
    position: relative;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
