<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div id="dialog" class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Уебок смотри сюды</h4>
            </div> -->
            <div class="modal-body">
                Вы уверены что хотете удалить этого уёбка?
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-default">Удалить</button>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>