<div class="modal-body">
    <h5>Вы и Уеба понравились друг другу.</h5>
    <div>
        <img ng-src="http://cs617425.vk.me/v617425449/1d06b/hKPXPYU-DdA.jpg">
        <img ng-src="http://cs617425.vk.me/v617425449/1d06b/hKPXPYU-DdA.jpg">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()"><i class="fa fa-users"></i> Перейти к профилю</button>
    <button type="button" class="btn btn-default" ng-click="cancel()"><i class="fa fa-picture-o"></i> Продолжить искать</button>
</div>