/* other */
#people {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto 50px auto;
}

@media (max-width: 767px) {
    #people {
        width: 100%;
        height: 100%;
    }
}

.person {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .1s linear;
}

.person .sp-description {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background: white;
    width: 100%;
    padding: 10px;
    font: 16px "Open Sans";
    line-height: 30px;
    color: #555;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.person span strong {
    font-weight: 600;
    color: #000;
}

.sp-description .location {
    color: rgb(171, 171, 171);
    font-size: 14px;
}

.sp-description .fa.fa-location-arrow {
    font-size: 18px;
    padding-right: 8px;
}

/* carousel */
#people .sp-carousel-layer {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

#people .sp-carousel-image {
    height: calc(100% - 50px);
    border-radius: 4px 4px 0 0;
}

/* carousel controls */
#people .rn-carousel-control {
    font-family: 'FontAwesome';
    font-size: 25px;
    color: white;
}

    @media (max-width: 767px) {
        #people .rn-carousel-control {
            display: none;
        }
    }

#people .rn-carousel-control.rn-carousel-control-next::before {
    content: "\f054"
}

#people .rn-carousel-control.rn-carousel-control-prev::before {
    content: "\f053"
}

/* carousel indicators */
#people .rn-carousel-indicator {
    font-family: 'FontAwesome';
    margin-bottom: 10px;
    display: table;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
}

#people .custom-indicator span {
    color: #666;
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#people .custom-indicator span::before {
    content: "\f111"
}

#people .custom-indicator span.active::before {
    color: #3498db;
    font-size: 16px;
    content: "\f10c"
}