@media (max-width: 768px) {
    #spNavPills {
        position: absolute;
        padding: 10px;
    }

    #spNavPills ul > li {
        display: table-cell;
        width: 1%;
        z-index: 1000;
    }

    #spRowContainer {
        position: relative;
    }

    #spFriendsList {
        z-index: 0;
    }

    #spFriendsList.sp-active {
        z-index: 1000;
    }
}

#spFriendsList {
    max-height: 100%;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
}

#spNavPills .nav.nav-pills {
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
}

#spNavPills .nav-justified > li > a {
    margin: 0;
}

#spFriendsList .list-group {
    margin: 0;
    padding: 0;
}

#spFriendsList .list-group-item {
    margin: 0;
    padding: 0;
    border-width: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    box-shadow: inset 0 -1px 0 0 rgb(231, 231, 231);
}

#spFriendsList table {
    height: 61px;
}

#spFriendsList .sp-user-info {
    width: 75%;
    padding-left: 10px;
}

#spFriendsList .sp-user-info > div {
    margin-bottom: -5px;
    font-weight: bold;
}

#spFriendsList .sp-user-info span
{
    font-size: 12px;
    color: grey;
    opacity: 0.9;
}

#spFriendsList .sp-icons {
    width: 25%;
}

#spFriendsList .active {
    background-color: rgb(238, 238, 238);
    color: black;
}

#spFriendsList .media {
    margin: 0;
}

#spFriendsList .brandico-vkontakte-rect {
    margin-right: 10px;
    color: #4387fd;
    font-size: 30px;
    line-height: 60px;
}

@media (max-width: 768px) {
    #spFriendsList .brandico-vkontakte-rect {
        margin-right: 30px;
    }
    #spFriendsList .fa-map-marker {
        margin-right: 30px;
        color: #4387fd;
        font-size: 30px;
        line-height: 60px;
    }
}

/*#spFriendsList .media-body {
    display: block;
    vertical-align: middle;
    line-height: 60px;
    border-bottom: 1px solid;
    border-color: rgb(238, 238, 238);
    height: 61px;
}*/

#spFriendsList .media-object {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 5px;
}

#spUserList .btn-group.btn-group-lg.btn-group-justified label {
    border-radius: 0;
}

#spUserList .btn-group.btn-group-lg.btn-group-justified {
    margin: 0;
}

#spUserList .list-group-item {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-right: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

#spUserList .sp-list-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 15px;
}

#spUserList .spListGroupSeparator {
    margin-top: 0px;
    margin-bottom: 0px;
}

#spUserList .sp-list-item-photo {
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#spUserList .sp-list-item-photo-container:hover,
#spUserList .sp-list-item-photo-container:active,
#spUserList .sp-list-item-photo-container:focus {
    border-color: #428bca;
}

#spUserList .sp-list-item-photo-container {
    display: block;
    margin: 0;
    padding: 6px;
    
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;

    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#spUserList .sp-list-item-info {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    width: 250px;
    padding-left: 15px;
    padding-top: 0;
    vertical-align: top;
}

#spUserList .sp-list-item-buttons {
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 110px;
    position: absolute;
    top: 15px;
    right: 30px;
    margin: 0;
    vertical-align: top;
}

#spUserList .user-list-distance {
    float: right;
    margin-top: 65px;
    padding-right: 10px;
}

#spUserList a {
    display: block;
    cursor: pointer;
}

#spUserList .spTimestamp {
    position: absolute;
    top: 3px;
    margin: 0;
    display: block;
    clear: both;
    width: 70px;
    height: 20px;
    padding: 2px;
}

#spUserList .spFavorite {
    position: absolute;
    top: 40px;
    left: 15px;
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    padding: 2px;
    opacity: 0.55;
}

#spUserList .spFavorite:hover {
    opacity: 0.85;
}

#spUserList .spClose {
    position: absolute;
    top: 80px;
    left: 15px;
    display: block;
    clear: both;
    width: 30px;
    height: 30px;
    padding: 2px;
    opacity: 0.55;
}

#spUserList .spClose:hover {
    opacity: 0.85;
}

#spUserList a {
    display: block;
    cursor: pointer;
}