.modal-body img {
    max-height: 400px;
    max-width: 600px;
    cursor: pointer;
}

.modal-header {
    overflow: hidden;
}

.modal-header button {
    float: right;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    text-align: center !important;
}
