.sp-radar {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}

.sp-radar .status {
    bottom: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.sp-radar img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    cursor: pointer;
    border: 2px solid white;
    z-index: 1;
}

.sp-radar-circle {
    position: absolute;
    top: 40%;
    left: 50%;
    background: #4eb8ff;
    border: 2px solid #4387fd;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.sp-radar-circle.ng-leave {
    -webkit-transition: 3s ease-out all;
    transition: 3s ease-out all;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0.8;
}

.sp-radar-circle.ng-leave.ng-leave-active {
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    opacity: 0;
}

#spShareButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 123px;
}

#spShareButton * {
    box-sizing: content-box;
}