<div id="people">
    <div class="person">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div ng-repeat="photo in user.photos"
                     class="item"
                     ng-class="{active: $index == 0}">
                    <img ng-src="{{photo}}">
                </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="fontawesome-chevron-left"></span>            
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="fontawesome-chevron-right"></span>
            </a>
        </div>
        <span>
            <strong>{{user.info.first_name}}</strong>{{user.info.bdate | age}}
        </span>
    </div>
</div> 
