<h2>{{user.info.first_name}}{{user.info.bdate | age}}</h2>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li ng-repeat="image in images track by $index"
            data-target="#carousel-example-generic"
            data-slide-to="{{$index}}"
            ng-class="{active: $index == 0}"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div ng-repeat="image in images track by $index"
             class="item"
             ng-class="{active: $index == 0}">
            <img ng-src="{{image}}">
            <div class="carousel-caption"></div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>