<div id="people">
    <div class="person">
        <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner">
                <div ng-repeat="photo in user.photos"
                     class="item"
                     ng-class="{active: $index == 0}">
                    <img ng-src="{{photo}}">
                </div>
            </div>

            <div class="carousel-controls">
                <a class="left carousel-control" href="" ng-click="Prev()">
                    <div class="fontawesome-chevron-left"></div>
                </a>
                <a class="right carousel-control" href="" ng-click="Next()">
                    <div class="fontawesome-chevron-right"></div>
                </a>
            </div>
        </div>
        <div class="sp-description">
            <span><strong>{{user.info.first_name}}</strong>{{user.info.bdate | age}}</span>
            <span class="pull-right"><span class="fontawesome-map-marker"></span><strong>{{user.distance | distance}}</strong></span>
        </div>
    </div>
</div> 
