<div id="spFriendsPage" class="container fill-height">
    <div class="row fill-height">
<!--         <div class="col-xs-12 col-sm-4 fill-height">
            <sp-user-list id="spUserList" users="friends.friends"></sp-user-list>
        </div> -->
        <div id="spFriendsList" class="col-xs-12 col-sm-4 fill-height">
            <sp-user-list users="friends.friends"></sp-user-list>
        </div>
        <div class="col-sm-8 fill-height hidden-xs">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>