<div class="list-group">
    <sp-friend-list-item ng-repeat="user in users track by user.info.id"></sp-friend-list-item>
</div>

<!-- <div class="btn-group btn-flat btn-group-lg btn-group-justified">
    <label class="btn btn-flat btn-default" ng-model="radioModel" btn-radio="'All'" uncheckable>Рядом <span class="badge"> +{{users.length}}</span></label>
    <label class="btn btn-flat btn-default" ng-model="radioModel" btn-radio="'Liked'" uncheckable>Хотят</label>
</div>
<div class="list-group">
    <a class="list-group-item"
       ng-href="#"
       ng-repeat="user in users | meet:radioModel"
       ng-controller="UserListItemController"
       ng-mouseover="gainFocus($event)"
       ng-mouseleave="loseFocus($event)"
       ng-click="onClick($event)">

        <div class="user-list-item-img">
            <span class="glyphicon glyphicon-camera"></span>
            <img ng-src="{{user.largePhotoUrl}}" ng-click="openModal()">
        </div>
        <div class="user-list-info">
            <h4>{{user.firstName}}</h4>
            <p><em>{{user.bdate | age}}</em></p>
        </div>
        <div class="btn-group animate-hide" ng-hide="btnGroupIsHidden">
            <button type="button" class="btn btn-danger"  ng-click="toggleLike($event)">
                <span class="glyphicon glyphicon-heart" ng-show="user.like == false"></span>
                <span class="glyphicon glyphicon-heart-empty" ng-show="user.like == true"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="openVkProfile()">
                <span class="glyphicon glyphicon-user"></span>
            </button>
            <button type="button" class="btn btn-info text" ng-click="openModal()">
                <span class="glyphicon glyphicon-camera"></span>
            </button>
        </div>
        <p class="user-list-distance"><em>{{user.distance | distance}}</em></p>
    </a>
</div> -->