<div id="login-page">
    <div class="text-center">
        <h1>finder</h1>
        <div id="login-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#login-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#login-carousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="" alt="">
                    <div class="carousel-caption">
                        <h3>Hello world</h3>
                        <p>hello</p>
                    </div>
                </div>
                <div class="item">
                    <img src="" alt="">
                    <div class="carousel-caption">
                        <h3>Hwlesda</h3>
                        <p>asdfas<p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a ng-href="#login-carousel" class="left carousel-control" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a ng-href="#login-carousel" class="right carousel-control" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <a href="" class="btn btn-lg btn-primary" ng-click="Login()" role="button">Войти ВКонтакте</a>
    </div>
</div>