<div id="spMainView" class="container clearfix">
	<div class="row">
		<div class="col-xs-12" ng-show="main.current">
            <sp-cards user="main.current"></sp-cards>
             <div id="control">
                <div class="button no">
                    <a href="" class="trigger" ng-click="main.Dislike()"></a>
                </div>
                <div class="button info">
                    <a href="" class="trigger"></a>
                </div>
                <div class="button yes">
                    <a href="" class="trigger" ng-click="main.Like()"></a>
                </div>
            </div> 
		</div>
        <div class="col-xs-12" ng-hide="main.current">
            <sp-radar image="app.user.photo_100"></sp-radar>
        </div>
    </div>
</div>