<sp-navbar info="app.user"></sp-navbar>
<div id="spMainPage" class="container-fluid">
    Главная
</div>

<!-- <div class="container-fluid fill-height">
    <div class="row fill-height">
        <div class="col-md-8 fill-height nopadding">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-4 nopadding">
        	<spacebox-user-list id="spUserList" ng-controller="ListController"></spacebox-user-list>
        </div>
    </div>
</div>
<spacebox-modal toggle="main.toggleModal" images="{{main.images}}"></spacebox-modal> -->