<div id="spMainView" class="container clearfix">
	<div class="row">
		<div class="col-xs-12" ng-show="main.current">
            <sp-cards user="main.current"></sp-cards>
             <div id="control">
                <div class="button no">
                    <a href="" class="trigger" ng-click="main.Dislike()"></a>
                </div>
                <div class="button info">
                    <a href="" class="trigger"></a>
                </div>
                <div class="button yes">
                    <a href="" class="trigger" ng-click="main.Like()"></a>
                </div>
            </div> 
		</div>
        <div class="col-xs-12" ng-hide="main.current">
            Новых пользователей не найдено
        </div>
    </div>
</div>

<!-- <div class="container-fluid fill-height">
    <div class="row fill-height">
        <div class="col-md-8 fill-height nopadding">
            <div id="map-canvas"></div>
        </div>
        <div class="col-md-4 nopadding">
        	<spacebox-user-list id="spUserList" ng-controller="ListController"></spacebox-user-list>
        </div>
    </div>
</div>
<spacebox-modal toggle="main.toggleModal" images="{{main.images}}"></spacebox-modal> -->