<div id="navbar" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="navbar-brand" ng-src="src/img/logo.png">
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a ng-click="Search()" ng-href="javascript:void(0)"><span class="icon-material-search"></span> Поиск</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <h4 class="spProfileName">Артем</h4>
            </li>
            <li>
                <a ng-click="Logout()" ng-href="javascript:void(0)" class="spProfile">
                    <img class="spCircle" src="http://lorempixel.com/56/56/people/1" alt="icon">
                </a>
            </li>
        </ul>
    </div>
</div>