<a class="list-group-item" href="" ng-class="{active:selected}" ng-mouseover="gainFocus()" ng-mouseleave="loseFocus()" ng-click="onClick()">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="{{user.largePhotoUrl}}" alt="...">
        </a>
        <div class="media-body">
            <p class="media-heading">{{user.firstName}}, {{user.bdate | age}}</p>
        </div>
    </div>
</a>

<!-- <a class="list-group-item" href="" ng-class="{active:selected}" ng-mouseover="gainFocus()" ng-mouseleave="loseFocus()" ng-click="onClick()">
    <div class="sp-list-item">
        <div class="sp-list-item-photo">
            <div class="sp-list-item-photo-container">
                <img ng-src="{{user.largePhotoUrl}}" ng-click="openLightboxModal(user)">
            </div>
        </div>
        <div class="sp-list-item-info">
            <h4 class="list-group-item-heading">{{user.firstName}}, {{user.bdate | age}}</h4>
            <p class="list-group-item-text">{{user.distance | distance}}</p>
        </div>
        <div class="sp-list-item-buttons">
            <div class="spTimestamp">5 минут</div>
            <div class="spFavorite"><span class="glyphicon glyphicon-heart"></span></div>
            <div class="spClose"><span class="glyphicon glyphicon-remove"></span></div>
        </div>
    </div>
    <div class="list-group-separator spListGroupSeparator"></div>
</a> -->