<div class="container-fluid sp-album">
    <p>Для заполнения профиля мы используем 6 ваших последних фотографий профиля ВКонтакте.
        В текущей версии приложения изменить фотографии нельзя.</p>
    <div class="row">
        <div class="col-xs-8">
            <div class="sp-image-wrapper">
                <div class="sp-image"></div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="sp-image-wrapper">
                    <div class="sp-image"></div>
                </div>
            </div>
            <div class="row">
                <div class="sp-image-wrapper">
                    <div class="sp-image"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="sp-image-wrapper">
                <div class="sp-image"></div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="sp-image-wrapper">
                <div class="sp-image"></div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="sp-image-wrapper">
                <div class="sp-image"></div>
            </div>
        </div>
    </div>
</div>